* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1d1e23;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.content {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: space-around;
}

textarea {
  resize: none;
  border: none;
  padding: 8px;
  background-color: #3c3d46;
  color: white;
  outline: none;
  font-size: 24px;
  text-align: justify;
}

textarea:focus {
  border: 1px solid #8257e5;
}

.submit-button {
  align-items: center;
  background-color: #8257e5;
  border-radius: 40px;
  bottom: 55px;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  height: 40px;
  justify-content: center;
  line-height: 18px;
  position: absolute;
  right: 100px;
  width: 40px;
}

.trash-button {
  background-color: rgba(0, 0, 0, 0);
  align-items: center;
  bottom: 55px;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  justify-content: center;
  position: absolute;
  right: 150px;
  width: 40px;
}

.mic-button {
  background-color: rgba(0, 0, 0, 0);
  align-items: center;
  bottom: 55px;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  justify-content: center;
  position: absolute;
  right: 200px;
  width: 40px;
}

.lockscreen {
  margin-top: 20%;
  text-align: center;
}

h2 {
  color: #ffffff;
  text-align: center;
}

form {
  background-color: #1d1e23;
  border-radius: 10px;
  display: inline-block;
  margin: auto;
  padding: 20px;
  text-align: left;
  width: 600px;
  position: absolute;
  color: #ffffff;
  right: 350px;
  bottom: 200px;
}

label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"] {
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 14px;
  padding: 8px;
  width: 100%;
}

button[type="submit"] {
  background-color: #8257e5;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #8257e5;
}

/* Mobile devices */
@media only screen and (max-width: 600px) {
  .content {
    width: 100%;
    padding: 20px;
  }
  form {
    width: 90%;
    right: 5%;
    bottom: 200px;
  }
  .submit-button{
    bottom: 60px;

  }
  .trash-button{
    bottom: 60px;

  }
  .mic-button {
    bottom: 60px;
  }
  h2 {
    font-size: 24px;
  }
  input[type="text"] {
    font-size: 12px;
  }
  button[type="submit"] {
    font-size: 14px;
    padding: 8px 16px;
  }
}

/* Tablets and small desktops */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .content {
    width: 80%;
  }
  form {
    width: 400px;
    right: 25%;
    bottom: 350px;
  }
}

/* Large desktops */
@media only screen and (min-width: 1025px) {
  .content {
    width: 60%;
  }
  form {
    width: 600px;
    right: 400px;
    bottom: 250px;
  }
  .submit-button{
    bottom: 75px;
    right: 350px;
    
  }
  .trash-button{
    bottom: 75px;
    right: 400px;
  }
  .mic-button {
    bottom: 75px;
    right: 450px;
  }
}
